.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.ls50 {
  letter-spacing: 0.05em;
}
.ls100 {
  letter-spacing: 0.1em;
}
.f-ntj {
  font-family: "noto sans jp";
}
.f-arc {
  font-family: "Archivo Black";
}